<!--■ Vue メソッド 入力(メソッドを使って複数の処理)  -->

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>My Vue App</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <div id="app" class="container">
    <h1>My Todos</h1>
    <ul>
      <li v-for="todo in todos">{{ todo }}</li>
    </ul>

	<!--■ Java > コントローラー、Vue > jsのmethods  -->
    <!--■ 「.prevent」> submit > 遷移を「させない」 -->
    <form @submit.prevent="addItem">

	  <!--■ v-model=valueの働き -->
      <input type="text" v-model="newItem">
      <input type="submit" value="Add">
    </form>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/main.js"></script>
</body>
</html>