<!--■ Vue コンポーネント -->
<!-- コンポーネントとは https://dev83.com/vue-component/ -->
<!-- componentとは http://www.tohoho-web.com/ex/vuejs.html#vue_component -->
<!-- extendとは http://www.tohoho-web.com/ex/vuejs.html#vue_extend -->
<!-- スプシ第15回 https://docs.google.com/spreadsheets/d/18blU9aBNvLKboMctunwLxGDi7hMfCWG3MFJ5bv64l5s/edit#gid=0 -->

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>My Vue App</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <div id="app">
	<!--■① jsへ  -->
	<!--■ コンポーネントを設定する(今回の場合はhtmlのボタン) > 設定しておく > <like-component>をコピーすれば同じのがすぐ出てくる！！  -->
    <like-component></like-component>
    <like-component></like-component>
    <like-component></like-component>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/main.js"></script>
</body>
</html>