<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My Vue App</title>
<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<div id="app">
		
		<!--■③ 入力フォーム -->
		<!--■ v-model > inputに入力した内容 > nameに反映  -->
		<p><input type="text" v-model="name"></p>		

		<!--■④ 表示フォーム -->
		<!--■ jsのnameの内容が入る。{{ name }}  -->
		<p>Hello {{ name.toUpperCase() }}</p>

	</div>
<!--■① Vue導入(jQueryと違う後に書いてOK)  -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--■② javascript  -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>